@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">

        @* Invoke friend list *@
        @await Component.InvokeAsync("FriendList")
       
        <div class="row">
            <div class="col-md-12">
                <button type="button" style="width:100%;" class="btn btn-default">Tilføj ven</button>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <h1>Kommende holdtræninger</h1>
        <ul class="list-group">
            <li class="list-group-item">
                <div class="row">
                    <div class="list-group">
                        <div class="col-md-3">
                            <p>Gerdas holdtræning</p>
                        </div>
                        <div class="col-md-3">
                            <p>Her er en beskrivelse af holdet og de øvelser, som skal laves.</p>
                        </div>
                        <div class="col-md-3">
                            <a href="#" class="list-group-item">Join</a>
                        </div>
                        <div class="col-md-3">
                            <a href="#" class="list-group-item">Frameld</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="list-group">
                        <div class="col-md-3">
                            <p>Karstens holdtræning</p>
                        </div>
                        <div class="col-md-3">
                            <p>Her er en beskrivelse af holdet og de øvelser, som skal laves.</p>
                        </div>
                        <div class="col-md-6">
                            <a href="#" class="list-group-item">Tilmeld</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="row">
            <div class="col-md-6">
                @Html.ActionLink("Opret hold", "CreateTeam", "Team", null, new { @class = "btn btn-default", @style = "width:100%;" })
            </div>
            <div class="col-md-6">
                <button type="button" style="width: 100%;" class="btn btn-default">Button</button>
            </div>
        </div>
    </div>

</div>