@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <div class="list-group">
            <a href="#" class="list-group-item">Gerda Larsen</a>
            <a href="#" class="list-group-item">Karsten Olsen</a>
            <a href="#" class="list-group-item">Kim Nielsen</a>
            <a href="#" class="list-group-item">Morten Pedersen</a>
            <a href="#" class="list-group-item">Hanne Holm</a>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="button" style="width:100%;" class="btn btn-default">Tilføj ven</button>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="row">
                    <div class="list-group">
                        <div class="col-md-3">
                            <p>Gerdas holdtræning</p>
                        </div>
                        <div class="col-md-3">
                            <p>Her er en beskrivelse af holdet og de øvelser, som skal laves.</p>
                        </div>
                        <div class="col-md-3">
                            <a href="#" class="list-group-item">Join</a>
                        </div>
                        <div class="col-md-3">
                            <a href="#" class="list-group-item">Gå ud</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="list-group">
                        <div class="col-md-3">
                            <p>Karstens holdtræning</p>
                        </div>
                        <div class="col-md-3">
                            <p>Her er en beskrivelse af holdet og de øvelser, som skal laves.</p>
                        </div>
                        <div class="col-md-6">
                            <a href="#" class="list-group-item">Join</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
