@{
    ViewData["Title"] = "Home Page";
}
<h1>Velkommen @User.Identity.Name</h1>
<div class="row">
    <div class="col-md-3">

        @* Invoke friend list *@
        @await Component.InvokeAsync("FriendList")
       
        <div class="row">
            <div class="col-md-12">
                <button type="button" style="width:100%;" class="btn btn-default">Tilføj ven</button>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <h1>Kommende holdtræninger</h1>
        <ul class="list-group">
            <li class="list-group-item">
                <div class="row">
                    <div class="list-group">
                        <div class="col-md-3">
                            <p>Gerdas holdtræning</p>
                        </div>
                        <div class="col-md-5">
                            <p>Her er en beskrivelse af holdet og de øvelser, som skal laves.</p>
                        </div>
                        <div class="col-md-2">
                            <a href="#" class="list-group-item">
                                <span class="glyphicon glyphicon-record"></span>
                                Deltag
                            </a>
                        </div>
                        <div class="col-md-2">
                            <a href="#" class="list-group-item">
                                <span class="glyphicon glyphicon-remove"></span>
                                Frameld
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="list-group">
                        <div class="col-md-3">
                            <p>Karstens holdtræning</p>
                        </div>
                        <div class="col-md-5">
                            <p>Her er en beskrivelse af holdet og de øvelser, som skal laves.</p>
                        </div>
                        <div class="col-md-4">
                            <a href="#" class="list-group-item friendListJoinLink">
                                <span class="glyphicon glyphicon-ok"></span>
                                Tilmeld
                            </a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="row">
            <div class="col-md-6">

                <a href="@Url.Action("CreateTeam","Team")" class="btn btn-default" style="width: 100%;">
                    <span class="glyphicon glyphicon-plus"></span>
                    Opret hold
                </a>
            </div>
            <div class="col-md-6">
                <button type="button" style="width: 100%;" class="btn btn-default">Kontakt</button>
            </div>
        </div>
    </div>

</div>