@model WelfareDenmark.TrainingBuddy.Web.Models.FriendListViewModel

<h1>Venneliste</h1>

<ul class="list-group">
    @foreach (var friend in Model.Friends)
    {
        <li href="#" class="list-group-item">
            @friend.Name

            <a href="@Url.Action("CallFriend", "User")">
                <span class="glyphicon glyphicon-earphone friendListGlyphCall"></span>
            </a>
        </li>
    }
</ul>