
@{
    ViewData["Title"] = "CreateTeam";
}

<h2>CreateTeam</h2>



<div class="row">
    <div class="col-md-3">
        <div class="list-group">
            <a href="#" class="list-group-item">Gerda Larsen</a>
            <a href="#" class="list-group-item">Karsten Olsen</a>
            <a href="#" class="list-group-item">Kim Nielsen</a>
            <a href="#" class="list-group-item">Morten Pedersen</a>
            <a href="#" class="list-group-item">Hanne Holm</a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="list-group">
            <header>Valgte Deltagere</header>

        </div>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Øvelses Sæt
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Sæt 1</a>
            <a class="dropdown-item" href="#">Sæt 2</a>
            <a class="dropdown-item" href="#">Lav dit eget...</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div>
</div>
