
@{
    ViewData["Title"] = "CreateTeam";
}

<h2>CreateTeam</h2>


<div class="row">
    <div class="col-md-3">
        <div class="dual-list list-left"id="friendsList">
            <div class="well text-right">
                <div class="row">
                    
            <a href="#" class="list-group-item list-group-item-action">Gerda Larsen</a>
            <a href="#" class="list-group-item">Karsten Olsen</a>
            <a href="#" class="list-group-item">Kim Nielsen</a>
            <a href="#" class="list-group-item">Morten Pedersen</a>
            <a href="#" class="list-group-item">Hanne Holm</a>
                </div>
        </div>
            </div>
    </div>
    <div class="col-md-3">

        <div class="list-group" id="participantsList">
            <header>Valgte Deltagere</header>
            <div class="list-group-item" data="friendsList">
            </div>
        </div>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Øvelses Sæt<span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">Sæt 1</a></li>
            <li><a href="#">Sæt 2</a></li>
            <li><a href="#">Lav dit eget...</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
        </ul>
    </div>
    <div class="btn-group">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Dato</a>
            <a class="dropdown-item" href="#">En anden dato</a>
            <a class="dropdown-item" href="#">Hvorfor ikke bare den her dato istedet?</a>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-10">

    </div>
    <div class="btn-group">
        <button class="btn btn-primary btn-lg btn-link btn-block" type="button" id="btnCreateTeam" >

        Opret Hold
        </button>
    </div>
</div>
