
@model WelfareDenmark.TrainingBuddy.Web.Models.TeamViewModel
@{
    ViewData["Title"] = "CreateTeam";

}
<head>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="~/js/Team.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/Team.css">

</head>
<div class="row">
    <div class="col-md-3">
        @* Invoke friend list *@
        @*@await Component.InvokeAsync("FriendList")*@

    </div>
    <div class="approveTermsContainer">
        <div class="newItems">
            <b>Venneliste:</b><br />
            <select multiple="multiple" id="lstBox1">
                @await Component.InvokeAsync("TeamList")
            </select>
        </div>
        <div class="transferBtns">
            <input type='button' id='btnRight' value='  >  ' />
            <br /><input type='button' id='btnLeft' value='  <  ' />
            <div class="submitContainer">
                <input type="submit" />
            </div>
        </div>
        <div class="approvedItems">
            <b>Items to Approve: </b><br />
            <select multiple="multiple" id="lstBox2"></select>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <form asp-action="CreateTeam">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="TeamId" class="control-label"></label>
                    <input asp-for="TeamId" class="form-control" />
                    <span asp-validation-for="TeamId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UserId" class="control-label"></label>
                    <select asp-for="UserId" multiple class="form-control" asp-items="ViewBag.UserId" id="lstBox1"></select>
                </div>
                <div class="form-group">
                    <label asp-for="ExerciseId" class="control-label"></label>
                    <select asp-for="ExerciseId" class="form-control" asp-items="ViewBag.ExerciseId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Date" class="control-label"></label>
                    <input asp-for="Date" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="CreateTeam" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

</div>
    
