@{
    ViewData["Title"] = "Access Denied";
    Layout = "_ContentLayout";
}
<fieldset>
    <header>
        <h1 class="text-danger">Ingen adgang.</h1>
        <p class="text-danger">Du har ikke adgang til denne side</p>
    </header>
</fieldset>
