@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model WelfareDenmark.TrainingBuddy.Web.Models.RegisterViewModel
@{
    ViewData["Title"] = "Register";
    //Layout = "_ContentLayout";
}

<h2>Opret bruger</h2>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
    <!-- Website CSS style -->
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">
    <!-- Website Font style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <title>Admin</title>
</head>
<body>
    <div class="container">
        <div class="row main">
            <div class="panel-heading">
                <div class="panel-title text-center">
                    <h1 class="title">WelfareDenmark TrainingBuddy</h1>
                    <hr />
                </div>
            </div>
            <div class="main-login main-center">
                <form asp-controller="User" asp-action="CreateUser" class="form-horizontal" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    @*<div class="form-group">
                        <label for="usertype" class="cols-sm-2 control-label">Bruger type</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Vælg<span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Patient</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="#">Kiropraktor</a></li>
                                        <li><a href="#">Personlig træner</a></li>
                                        <li><a href="#">osv....</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>*@
                    <div class="form-group">
                        <label asp-for="Name" class="cols-sm-2 control-label">Fornavn og efternavn</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span asp-validation-for="Name" class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="name" asp-for="Name" placeholder="Skriv dit navn her" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="cols-sm-2 control-label">Email</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span asp-validation-for="Email" class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                <input type="email" class="form-control" name="email" asp-for="Email" placeholder="Skriv din email her" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="UserName" class="cols-sm-2 control-label">Brugernavn</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span asp-validation-for="UserName" class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="username" asp-for="UserName" placeholder="Skriv dit brugernavn her" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="cols-sm-2 control-label">Kodeord</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span asp-validation-for="Password" class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                <input type="password" class="form-control" name="password" asp-for="Password" placeholder="Skriv dit kodeord her" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="cols-sm-2 control-label">Gentag kodeord</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span asp-validation-for="ConfirmPassword" class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                <input type="password" class="form-control" name="confirmpassword" asp-for="ConfirmPassword" placeholder="Gentag dit kodeord her" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Opret bruger</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="assets/js/bootstrap.js"></script>
</body>
</html>